.body {
  margin: 0;

}
.top-image {
  width:auto;
  height: auto;
  max-width: 100%;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*ヘッダー*/
.nav-bar {
  display: block;
  background-color: black;
  margin: 0;
}
.nav-bar ul {
  display: block;
  text-align: center;
  letter-spacing: 0;
  margin: 0;
  margin-top: 0;
}

.nav-bar li {
  display: inline-block;
  font-size: 18px;
  padding: 15px 20px;
}

.nav-bar li a{
  color: #ffff;
  
  font-weight: bold;
}




.section {
  border: 1px solid blue;
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
  padding: 40px;
}


.main {
  width: 100%;
  border: 1px solid red;
  background-color: orangered;
}

.main-title {
  text-align: center;
}

.main-title p{
 font-size: 20px;
 font-weight: bold;
}

.attention {
  color: #ffff;
  padding: 10px 0;
  font-weight: bold;
}

.movies {
  text-align: center;
}
li {
  display: inline-block;

}

.sub-title{
  text-align: center;
  color: orangered;
}

.news-list {
  padding: 20px;
}
.news-list li {
  padding: 10px;
}

.news-list li a {
  color: black;
  font-weight: bold;
}

.news-list span {
  color: orangered;
}

/*フッター*/
footer {
  background-color: orangered;
}

.twitter-mark,.conpany {
  text-align: center;
}

.twitter-mark {
  margin: 3px;
}

.twitter-mark:hover {
  opacity: 0.8;
}

#twitter-btn {
  display: inline-block;
  width: 64px;
  height: 64px;
}

.conpany{
  font-size: 13px;
  font-weight: bold;
  color: #ffff;
  line-height: 2;
}
